server:
  tomcat:
    remote_ip_header: x-forwarded-for
    protocol_header: x-forwarded-proto
okta:
  oauth:
    baseUrl: # <okta org url>
    issuer: # <okta org url>/oauth2/<auth server id>
    audience: # auth server configured audience
    clientId: # client id from oidc app client credentials settings
cors:
  allowed:
    origins: # list of origins allowed to access this app. Used in conjunction with https://github.com/oktadeveloper/okta-oidc-flows-example